body{
    background-image: url(https://t4.ftcdn.net/jpg/03/84/55/29/360_F_384552930_zPoe9zgmCF7qgt8fqSedcyJ6C6Ye3dFs.jpg);
    background-size: cover;
}

.card{
    margin: 5em;
    margin-left: 30em;
    margin-right: 30em;
}

